@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Geist+Mono:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');



body {
    background-color: #1F252B;
}

.text-primary {
    color: #BFA181;
}

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 500;
    font-style: normal;
  }


  